@using System.Globalization
@model TimeTracker.ViewModels.FullCustomForm

@using (Html.BeginForm("FullCustom", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Submit some work</legend>
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(model => model.Date, new {@Value = Model.Date.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture), @class = "date-picker", @autofocus="autofocus"})

    
        @Html.LabelFor(m => m.StartTime)
        @Html.TextBoxFor(model => model.StartTime, new {@Value = string.Empty, @placeholder = "0900"})

        @Html.LabelFor(m => m.EndTime)
        @Html.TextBoxFor(model => model.EndTime, new {@Value = string.Empty, @placeholder = "1700"})
    </fieldset>    

    <button type="submit" class="btn">Add work</button>
}