@using TimeTracker.Models
@using TimeTracker.ViewModels
@model IEnumerable<TimeTracker.Models.TimeLog>
@{

    ViewBag.Title = "Index";
}

<h1>Time time time</h1>
@Html.Partial("FullCustom", new FullCustomForm())

@foreach (TimeLog m in Model)
{
    <strong>@m.StartTime.Date.ToShortDateString()</strong>
    <br />

    <div class="well">
        <strong>@m.StartTime.ToString()</strong><i class="icon-chevron-right"></i>
        <strong>@m.Time.TotalHours.ToString("N1")h</strong>
        
        @if (m.IsOpen())
        {
            @Html.Partial("SubmitTimeLog", new ShortTimeLogForm {Id = m.Id})
        }



        @using(Html.BeginForm("Delete", "Home", new {id = m.Id}, FormMethod.Post)) {
            <button class="close"><i class="icon-trash"></i></button>
        }
    </div>
}